Package: com.weideshun.signdemotweak
Name: SignDemoTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: Minimal lifecycle log tweak for com.weideshun.SignDemo only.
Maintainer: SignDemo
Author: SignDemo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
